<h1>Welcome to DJSpoti </h1>
<br>
<br>
<br>
<h> <%= current_party.name if current_party%>
<%=render partial: "users" if @users%>
<%= form_tag invite_path do %>
  <%=label_tag :Phone_Number%>
  <%=text_field_tag :ph_number%>
  <%=submit_tag "Invite" %>
<%end%>

<%= button_to 'Start A New Party', new_party_path, method: :get unless current_party%>
