<% if current_party %>
<script type="text/javascript">
  var current_party_identifier = '<%= current_party.identifier %>';

</script>
<% end %>


<div class='dashboard'>
  <section class='party text-center'>
    <%= render partial: "users" if @users %>
    <%= render partial: "invite" if current_party %>

    <div class="card border-0" style='background: black;border-radius: 0px;' >
      <div class="card-body text-center" style="padding:0;margin-top:0">
        <div class="container">
          <% if !current_party %>
            <img src="images/image.png" alt="Logo" class='dj-spoti-image'>
          <% end %>
          <%= button_to 'Start Party', new_party_path, method: :get, class: 'btn btn-primary text-uppercase color-black p-3' unless current_party %>
        </div>
      </div>
    </div>

    <%  if current_party && current_party.current_song  %>
      <div id="currently-playing-song" data-current-party=<%=current_party.identifier%>
      <div id="currently-playing-song" data-current-party=<%=current_party.identifier%>
        <%= render partial: 'partials/current_song', locals: {current_song: current_party.current_song}%>
      </div>

    <% else %>
      <div class="hidden" id ='currently-playing-song'>
      </div>
    <% end %>
  </section>


  <section class='spotify-web-player'>
    <% if current_party && current_user == current_party.admin %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>

    <% end %>
    <!-- <img id="current-track"/>
    <h3 id="current-track-name"></h3>
    <h4 id="current-track-album"></h4>
    <h5 id="current-track-artist"></h5> -->
  </section>
</div>
